.doctor-schedule-container {

    .all-schedule {
        select {
            cursor         : pointer;
            border         : none;
            outline        : none;
            border-bottom  : 1px solid #999;
            padding        : 10px 0;
            color          : #337ab7;
            font-weight    : 600;
        }
    }

    .all-available-time {

        .text-canlendar {
            color   : #333;
            margin  : 10px 0;

            i {
                margin-right  : 5px;
            }

            span {
                text-transform  : uppercase;
                font-weight     : 600;
            }
        }

        .time-content {
            .time-content-btns {

                display    : flex;
                gap        : 15px;
                flex-wrap  : wrap;


                .btn-time {
                    padding           : 5px 15px;
                    height            : 35px;
                    width             : 160px;
                    background-color  : #fff04b;
                    font-weight       : 500;
                    outline           : none;
                    border            : none;

                    &:hover {
                        color             : white;
                        background-color  : #45c3d2;
                    }
                }

            }

            .book-free {
                margin-top  : 10px;
            }


            .text-noSchedule {
                color       : red;
                font-style  : italic;
            }
        }
    }
}