.manage-schedule-container {

    .m-s-title {
        font-size    : 20px;
        text-align   : center;
        margin-top   : 15px;
        font-weight  : 600;
    }

    .container {

        .pick-hour-container {
            display    : flex;
            flex-wrap  : wrap;
            gap        : 20px;
            padding    : 25px 30px;
            width      : 80%;

            .btn-schedule {
                border   : 1px solid grey;
                padding  : 5px 15px;
                height   : 35px;
                width    : 160px;

                &.active {
                    background-color  : yellow !important;
                }
            }
        }
    }




    .text-chooseDoctor {
        margin-bottom  : 10px;
        margin-left    : 18px;
    }

    .text-chooseDate {
        margin-bottom  : 10px;
    }

    .btnSave {
        margin-left  : 18px;
        width        : 80px;
    }

    .select {
        margin-left  : 18px;
    }

    .content {
        display  : flex;
    }
}