.doctor-detail-container {
    height       : 500px;
    // margin  : 120px 100px;

    .intro-doctor {
        display     : flex;
        margin-top  : 45px;
        padding     : 70px;

        .content-left {
            width  : 15%;

            img {
                width          : 130px;
                height         : 130px;
                border-radius  : 50%;
                margin         : 0 10px;
                object-fit     : cover;
            }
        }

        .content-right {
            width           : 85%;
            display         : flex;
            flex-direction  : column;
            padding-left    : 10px;

            .up {
                font-size    : 30px;
                font-weight  : 600;
            }

            .down {
                padding-top  : 10px;
            }
        }
    }

    .schedule-doctor {
        margin   : 0 77px;
        display  : flex;
        height   : 205px;

        .content-left {
            width       : 50%;
            margin-top  : -44px;
        }

        .content-right {
            width  : 50%;
        }
    }

    .detail-doctor {
        background-color  : #f9f9f9;
        padding           : 17px 78px;
        margin-top        : 25px;

        h3 {
            font-size  : 17px;
        }
    }
}