.detail-specialty-container {
    .detail-specialty-body {
        margin  : 0 60px;
    }

    .description-specialty {
        margin-top  : 82px;
        height      : 200px;
        border      : 1px solid red;
    }

    .each-doctor {
        display           : flex;
        width             : 100%;
        min-height        : 350px;
        margin            : 15px 0;
        background-color  : #fff;
        box-shadow        : 0 1px 6px rgb(32 33 36 / 28%);
        border-radius     : 8px;

        .detail-content-left {
            width  : 50%;

            img {
                margin-top  : 25px !important;
            }

            .priceBooking {
                margin-left  : 30px !important;
            }

            .intro-doctor-profile {
                display           : flex !important;
                padding           : 20px !important;
                background-color  : unset !important;
            }
        }

        .detail-content-right {
            width           : 50%;
            padding-top     : 8px !important;
            padding-bottom  : 8px !important;

            .doctor-extra-infor {
                border-top      : 1px solid #eee;
                padding-bottom  : 10px !important;

                .doctor-extra-infor-container {
                    padding-left  : 0 !important;
                }
            }
        }
    }


}