.section-doctor-container {
    padding           : 50px;
    height            : 570px;
    background-color  : #f7fcfc;


    .section-title {
        text-align      : center;
        padding-bottom  : 30px;
        color           : #555;
    }

    .doctors {

        .member {
            margin         : 0 10px;
            margin-bottom  : 20px;
            overflow       : hidden;
            border-radius  : 5px;
            background     : #fff;
            box-shadow     : 0px 2px 15px rgba(63, 187, 192, 0.1);
            cursor         : pointer;

            &:hover {
                background-color  : #1977cc;

                h4 {
                    color  : #fff !important;
                }

                span {
                    color  : #fff !important;
                }
            }


            .member-img {
                img {
                    width       : 216px;
                    height      : 216px;
                    object-fit  : cover;
                }
            }

            .member-info {
                width    : 216px;
                height   : 96px;
                padding  : 12px 15px;

                h4 {
                    font-weight    : 700;
                    margin-bottom  : 5px;
                    font-size      : 18px;
                    color          : #555555;

                    &:hover {
                        color  : #1977cc;
                    }
                }

                span {
                    font-size      : 15px;
                    color          : #aaaaaa;
                    position       : absolute;
                    bottom         : 0;
                    margin-bottom  : 25px;
                }

                p {
                    font-style   : italic;
                    font-size    : 14px;
                    line-height  : 26px;
                    color        : #777777;
                }

            }
        }
    }
}

.loading-doctor {
    color        : rgb(203, 209, 209);
    font-size    : 40px;
    margin-left  : 550px;
    margin-top   : 110px;
}

.slick-prev {
    left        : -25px;
    position    : absolute;
    height      : 100%;
    width       : 100%;
    display     : block;
    z-index     : 999;
    margin-top  : -50px;

    background       : rgba(63, 187, 192, 0.8) !important;
    border-radius    : 50px !important;
    transition       : 0.3s !important;
    color            : rgba(255, 255, 255, 0.5);
    width            : 54px !important;
    height           : 54px !important;
    display          : flex !important;
    align-items      : center !important;
    justify-content  : center !important;

    &:hover {
        background  : #3fbbc0 !important;
        color       : rgba(255, 255, 255, 0.8) !important;
    }
}

.slick-next {
    background       : rgba(63, 187, 192, 0.8) !important;
    border-radius    : 50px !important;
    transition       : 0.3s !important;
    color            : rgba(255, 255, 255, 0.5);
    width            : 54px !important;
    height           : 54px !important;
    display          : flex !important;
    align-items      : center !important;
    justify-content  : center !important;
    margin-top       : -50px;

    &:hover {
        background  : #3fbbc0 !important;
        color       : rgba(255, 255, 255, 0.8) !important;
    }
}