.section-doctor-container {
    padding           : 50px;
    height            : 620px;
    background-color  : #f7fcfc;

    .doctors {
        .member {
            margin         : 0 10px;
            gap            : 25px;
            margin-bottom  : 20px;
            overflow       : hidden;
            text-align     : center;
            border-radius  : 4px;
            background     : #fff;
            box-shadow     : 0px 2px 15px rgba(63, 187, 192, 0.1);

            .member-img {
                position  : relative;
                overflow  : hidden;
                display   : flex;
                gap       : 10px;

                img {
                    max-width  : 100%;
                    height     : auto;
                }
            }

            .member-info {
                padding  : 25px 15px;

                h4 {
                    font-weight    : 700;
                    margin-bottom  : 5px;
                    font-size      : 18px;
                    color          : #555555;
                }

                span {
                    display      : block;
                    font-size    : 13px;
                    font-weight  : 400;
                    color        : #aaaaaa;
                }

                p {
                    font-style   : italic;
                    font-size    : 14px;
                    line-height  : 26px;
                    color        : #777777;
                }

            }
        }
    }
}

.slick-prev {

    left        : -25px;
    position    : absolute;
    height      : 100%;
    width       : 100%;
    display     : block;
    z-index     : 999;
    margin-top  : -50px;

    font-family  : boostrap-icon !important;

    background       : rgba(63, 187, 192, 0.8) !important;
    border-radius    : 50px !important;
    transition       : 0.3s !important;
    color            : rgba(255, 255, 255, 0.5);
    width            : 54px !important;
    height           : 54px !important;
    display          : flex !important;
    align-items      : center !important;
    justify-content  : center !important;

    &:hover {
        background  : #3fbbc0 !important;
        color       : rgba(255, 255, 255, 0.8) !important;
    }
}

.slick-next {
    background       : rgba(63, 187, 192, 0.8) !important;
    border-radius    : 50px !important;
    transition       : 0.3s !important;
    color            : rgba(255, 255, 255, 0.5);
    width            : 54px !important;
    height           : 54px !important;
    display          : flex !important;
    align-items      : center !important;
    justify-content  : center !important;
    margin-top       : -50px;

    &:hover {
        background  : #3fbbc0 !important;
        color       : rgba(255, 255, 255, 0.8) !important;
    }
}