.intro-doctor-profile {
    display           : flex;
    background-color  : #f6f6f6;
    padding           : 20px;

    .content-left {
        display         : flex;
        flex-direction  : column;
        gap             : 14px;

        img {
            width          : 130px;
            height         : 130px;
            border-radius  : 50%;
            margin         : 0 10px;
            object-fit     : cover;
        }
    }

    .content-right {
        margin-top      : 20px;
        margin-left     : 15px;
        display         : flex;
        flex-direction  : column;

        .up {
            font-size    : 20px;
            font-weight  : 600;
            color        : #45c3d2;
            width        : 100% !important;
            cursor       : pointer;
        }

        .down {
            text-align  : justify;
            padding     : 6px 0;
            color       : #555;

            i {
                margin-right  : 5px;
            }
        }
    }

}

.view-detail-doctor {
    color        : #45c3d2;
    font-size    : 16px;
    margin-left  : 30px;
    cursor       : pointer;
}

.priceBooking {
    padding  : 10px 0;

    .currency {
        color        : rgb(240, 53, 53);
        font-weight  : 600;
    }
}