.section-specialty-container {
    padding  : 45px;

    .services {

        .section-title {
            text-align      : center;
            padding-bottom  : 30px;
        }

        .specilty {
            .icon-box {
                text-align  : center;
                border      : 1px solid #d5e1ed;
                padding     : 80px 20px;
                transition  : all ease-in-out 0.3s;
                cursor      : pointer;

                .icon {
                    margin           : 0 auto;
                    width            : 64px;
                    height           : 64px;
                    background       : #1977cc;
                    border-radius    : 5px;
                    transition       : all 0.3s ease-out 0s;
                    display          : flex;
                    align-items      : center;
                    justify-content  : center;
                    margin-bottom    : 20px;
                    transform-style  : preserve-3d;

                    i {
                        color      : #fff;
                        font-size  : 28px;

                        ::before {
                            position       : absolute;
                            content        : "";
                            left           : -8px;
                            top            : -8px;
                            height         : 100%;
                            width          : 100%;
                            background     : #badaf7;
                            border-radius  : 5px;
                            transition     : all 0.3s ease-out 0s;
                            transform      : translateZ(-1px);
                        }
                    }
                }

                h4 {
                    font-weight    : 700;
                    margin-bottom  : 15px;
                    font-size      : 24px;

                    a {
                        text-decoration  : none;
                        color            : #2c4964;
                    }
                }

                p {
                    line-height    : 24px;
                    font-size      : 14px;
                    margin-bottom  : 0;
                }

                &:hover {
                    background    : #1977cc;
                    border-color  : #1977cc;

                    .icon {
                        background  : #fff;

                        i {
                            color  : #1977cc;
                        }

                    }
                }
            }
        }
    }


    // .services .icon-box:hover .icon::before {
    //     background  : #3291e6;
    // }

    .services .icon-box:hover h4 a,
    .services .icon-box:hover p {
        color  : #fff;
    }
}