.header-container {
    height      : 82px;
    box-shadow  : 0px 2px 15px rgba(0, 0, 0, 0.1);

    .img-logo {
        height  : 45px;
    }

    .email {
        margin-top  : 6px;

        span {
            color         : #555;
            font-size     : 18px;
            margin-right  : 35px;
        }
    }
}