.container {

    .title-a {
        margin-top  : 40px;
    }

    .items-blog {
        display    : flex;
        flex-wrap  : wrap;

        .col-sm-12 {
            width      : 100%;
            display    : flex;
            flex-wrap  : wrap;
        }

        .card-blog {
            margin-bottom  : 3rem;
            box-shadow     : 0 13px 8px -10px rgba(0, 0, 0, 0.1);
            height         : 540px;
            width          : 300px;
            margin         : 15px 30px;
            text-align     : justify;

            .card-img {
                img {
                    max-width   : 100%;
                    max-height  : 100%;
                }
            }

            .card-body {
                position  : relative;

                .card-title {
                    font-size   : 1.3rem;
                    margin-top  : 0.6rem;
                }

                .card-description {
                    color  : #4e4e4e;
                }
            }

            .card-footer {
                .post-date {
                    color  : #4e4e4e;
                    float  : right;
                }
            }
        }
    }
}

// span:hover {
//     cursor           : pointer;
//     color            : #0078ff;
//     text-decoration  : none;
//     transition       : all 0.5s ease-in-out;
// }